.call-me{
    position: relative;
    background: #1AB0CE;
    width:108px;
    height: 108px;
    border-radius: 50%;
    text-align: center;
    line-height: 70px;
}
.call-me a{
    text-decoration: none !important;
}

.call-me p{
    color:white !important;
    margin-top:-15px;
}
.call-me-container{
    position: absolute;
    right: 9%;
    z-index: 1;
    margin-top:-60px !important;
}