.navbar .col{
    padding:0 !important;
    margin:0;
}
.navbar{
    padding:0;
    background: white !important;
    
}  
.navbar .description h3{
    text-align:center;
    padding:0;
    margin-bottom:1em;
}
.navbar .description p{
    text-align:center;
    width:100%;
}
.navbar .personal-areas p{
    display:inline-block;
}
.navbar .personal-areas a p{
    color:#3A4047;
    text-decoration: underline;
    transition-duration: .4s;
    transition-property: color;
}
.navbar .personal-areas a:hover p{
    color:#1AB0CE !important;
}
.navbar a{
    text-decoration: none !important;
}
.personal-areas a:nth-child(1) {
   padding-right: 45px;
}
.navbar .contact{
    text-align:right;
    margin-bottom:5px;
}
.navbar .contact a{
    margin-left:10px;
    text-decoration: none;
}
.navbar .contact a:nth-child(2){
    margin-right:5px;
}
.phone,
.phone h3{
    display:inline-block;
}
.navbar .cart{
    position: relative;
    top:-2.5px;
}
.navbar .cart::before{
    content:'3';
    position: absolute;
    top:-15px;
    left:30px;
    color:white;
    background: #1AB0CE;
    border:none;
    border-radius:50%;
    text-align:center;
    line-height: 30px;
    height: 30px;
    width:30px;
}
.navbar .show-numbers {
    margin-left:-15px !important;
}
.navbar .show-numbers>span::before{
    right:-19px;
    margin-top:2px;
}
.navbar .show-numbers .arrow{
    padding: 3px;
    top:-3px;
}
.navbar .show-numbers .down{
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
.navbar .contact .visible{
    position: absolute;
    background: white;
    top:73px;
    right:-16px;
    width:219px;
    padding:20px 0px;
    text-align: center;
    -webkit-box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.2);
}
.navbar .contact .square-rotated{
    width:25px;
    height: 25px;
    background:white;
    transform:rotate(45deg);
    position: absolute;
    top:-3px;
    left:185px;
    background:white;
}
.navbar .contact .visible div.phone:nth-child(3),
.navbar .contact .visible div.phone:nth-child(4){
    margin-top:15px;
}
.navbar .contact .phone h3{
    margin-left:5px;
}
.navbar .menu-btn{
    display: none;
}

/*-------------------------------MAVIGATION MENU----------------------*/
.navigation-menu{
    margin-top:9px;
    padding:5px 0px;
}
.navigation-menu a{
    text-decoration: none !important;
    text-transform: uppercase;
    padding:15px 0px;
    border-top:2px solid transparent;
    height: 100px;
    transition-property: border-top;
    -moz-transition-property: border-top;
    -o-transition-property: border-top;
    transition-duration: .4s;
    -moz-transition-duration: .4s;
    -o-transition-duration: .4s;
}
.navigation-menu a h3{
     font-weight: 700;
     border-right: 1px solid #E8EDF2;
     padding: 0px 25px;
}
.navigation-menu a h3{
    display:inline-block;
}

.navigation-menu a:hover,
.navigation-menu a:active,
.navigation-menu a:focus {
    border-top:2px solid #1AB0CE;
}

.navigation-menu .close{
    position: absolute;
    right: 32px;
    top: 30px;
    width: 32px;
    height: 32px;
    opacity: 0.3;
}

.navigation-menu .close:hover {
  opacity: 1;
}
.navigation-menu .close:before, .close:after {
  position: absolute;
  left: 15px;
  top:0;
  content: ' ';
  height: 33px;
  width: 2px;
  background-color: #333;
}
.navigation-menu .close:before {
  transform: rotate(45deg);
}
.navigation-menu  .close:after {
  transform: rotate(-45deg);
}
