.section-4{
    padding-bottom:50px;
}
.section-4 .row{
    width:100%;
}
.section-4 h1{
    margin:35px 0px 50px 0px;
}
.section-4 p{
    color:#BEC7D1;
}
.section-4 h3{
    font-weight: 500;
    transition-duration: .4s;
    -moz-transition-duration: .4s;
    -o-transition-duration: .4s;
    transition-property: color;
    -moz-transition-property: color;
    -o-transition-property: color;
}
.section-4 .card{
    background: transparent; 
    border:none;
    border-radius:0;
    padding:30px 10px;
    box-shadow: none;

    transition-duration: .4s;
    -moz-transition-duration: .4s;
    -o-transition-duration: .4s;
    transition-property: background, box-shadow;
    -moz-transition-property: background, box-shadow;
    -o-transition-property: background,box-shadow;
}
.section-4 .col{
   
   padding:5px;
}
.section-4 .card:hover{
    background:white; 
    box-shadow: 0px 14px 24px rgba(0, 0, 0, 0.05), 0px -1px 0px #1AB0CE;
}
.section-4 a{
    text-decoration: none !important;
}
.section-4 a:hover .card h3{
    text-decoration-line: underline !important;
    text-decoration-style: solid !important;
    color:#1AB0CE !important;
}
.section-4 input[type=button]{
    margin-top:50px;
}